<?xml version="1.0"?>

<launch>
	<arg name="camera_name" default="camera360" /> 

	<arg name="front_lens_name" default="front_lens"/>
	<arg name="rear_lens_name" default="rear_lens"/> 

	<!-- =========================================================================================================== -->
	<!-- Initialize nodelet -->
	<node pkg="nodelet" type="nodelet" name="$(arg camera_name)_nodelet_manager" args="manager" output="screen" respawn="true">
		<param name="num_worker_threads" value="9"/>
	</node>
	<!-- =========================================================================================================== -->

	<param name="robot_description" command="$(find xacro)/xacro $(find camera360_perception)/urdf/insta360.urdf.xacro"/>
	<node name="robot_state_publisher" type="dynamic_robot_state_publisher" pkg="dynamic_robot_state_publisher" output="screen"/>
	<node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" output="screen"/>
	<!-- =========================================================================================================== -->
	<!-- Connect to 360 degree camera -->
	<include file="$(find camera360_perception)/launch/camera.launch" pass_all_args="true"/>
	<!-- =========================================================================================================== -->
	<include file="$(find camera360_perception)/launch/projections.launch" pass_all_args="true"/>

	<!-- <node pkg="nodelet" type="nodelet" name="right_projection_front_lens_full" 
			args="load image_projection/PeriodicImageProjectionNodelet $(arg camera_name)_nodelet_manager" 
			output="screen" respawn="true">

		<rosparam command="load" file="$(find camera360_perception)/cfg/projections/$(arg front_lens_name)_right_full_projection.yaml" subst_value="true"/>	

		<remap from="/right_projection_front_lens" to="/$(arg camera_name)/$(arg front_lens_name)/right_projection"/>
		<remap from="/$(arg camera_name)/$(arg front_lens_name)/right_projection/projection" 
				to="/$(arg camera_name)/$(arg front_lens_name)/right_projection/image_rect/full"/>
	</node> -->
	<arg name="inference_argument" default="" /> 
	<node pkg="camera360_perception" name="inference_cam_rear" type="inference.py" args="$(arg inference_argument)" output="screen">
		<param name="orientation" value="rear"/>
		<remap from='rear' to='rear_test'/>
	</node>
	<!-- =========================================================================================================== -->
	<!-- Create tf -->

	<!-- =========================================================================================================== -->

</launch>